@tailwind base;
@tailwind components;
@tailwind utilities;
/* Group Utilities */

@layer components {
  .green-btn {
    @apply border text-white bg-green-500 px-4 py-2  rounded-full font-bold text-sm transform hover:bg-green-900 hover:text-white focus:outline-none dark:border-green-400 dark:hover:border-green-900;
  }
}

@layer base {
  h1 {
    @apply text-2xl;
  }
}
/* 
@layer utilities {
  .font-size {
    font-size: 16px;
  }
} */
@variants hover {
  .font-size {
    font-size: 16px;
  }
}
/* @responsive {
  .font-size {
    font-size: 16px;
  }
} */

/* @screen sm {
  .font {
    font-size: 20px;
  }
} */
/* alternative and best way is */
@media screen(sm) {
  .font {
    font-size: 20px;
  }
}
